<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> Hi Zaki Ahmed </h1>
    <p>
      You have a SavorIt food delivery for <%= @user.first_name %> <%= @user.last_name %>.
      Deliver to <%= @user.address %>
    </p>
  </body>
</html>
