<nav id="navfeed">

  <strong><%= link_to "Savor it", posts_path, class:"title"%>
  </strong>

  <div class="icon_container">
    <p class="explore">
      <i class="fa fa-compass fa-lg" aria-hidden="true"></i>
    </p>
    <div class="icons"><%= link_to new_post_path(id: @current_user.id) do %>
      <i class="fa fa-camera-retro fa-2x"></i><%end%>
    </div>
    <p class="signout"><%= link_to sign_out_path do %>
      <i class="fa fa-sign-out fa-lg" aria-hidden="true"></i><%end%>
    </p>
  </div>

  <div class="catchphrase">
    Feed the Craving
  </div>
</nav>
<div id="image-cropper">
  ​
  <div class="image-editor">
    <input type="file" class="cropit-image-input">
    <div class="cropit-preview"></div>
    <div class="image-size-label">
      Resize image
    </div>
    <input type="range" class="cropit-image-zoom-input">
    <button class="rotate-ccw">
      <i class="fa fa-undo" aria-hidden="true"></i>
    </button>
    <button class="rotate-cw">
      <i class="fa fa-repeat" aria-hidden="true"></i>
    </button>
    <form action="#" method="post" name="form_name" id="form_id" class="form_class">
      <button class="Nashville">Nashville</button>
      <button class="1977">
        1977</button>
      <button class="Brannan">Brannan</button>
      <button class="Gotham">Gotham</button>
      <button class="Hefe">Hefe</button>
      <button class="Inkwell">Inkwell</button>
      <button class="LordKelvin">Lord Kelvin</button>
      <button class="xpro2">X PRO II</button <label>Description :</label>
    <input type="text" name="description" id="description" placeholder="Thoughts?"/>
    <input type="text" name="location" id="location" placeholder="Where did you eat this at?"/>
    <input type="text" name="name" id="name" placeholder="What did you order?"/>
    <input type="text" name="culture" id="culture" placeholder="What culture does the food associate with?"/>
    <input type="text" name="price" id="price" placeholder="How much did this cost?"/>
    <button class="cropit-save" name="submit_class" id="btn_class" value="Submit by Class">Finished!</button>
  </form>
</div>
