<nav id="nav">
</p>
<p id="login"><%= link_to sign_in_path, class:"login" do %><button id="signin"> Sign In</button> <% end %>
<%= link_to sign_up_path, class:"login" do %><button id="signup"> Sign Up</button><% end %></p>
</nav>
<center><p id="welcome"> Savor It </p></center>
</nav>
