@font-face {
  font-family: 'League Script', cursive;
  src: url('LeagueScript.otf');
}
@font-face {
  font-family: 'Raleway', sans-serif;
  src: url('Quicksand-Regular.otf');
}
html {
  height: 100%;
}
body {
  height: 100%;
}
#navfeed {
  display: flex;
  background-color: #2ECC71;
  color: white;
  font-size: 40px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.subtitle {
  font-family: 'Raleway', sans-serif;
  font-size: 35px;
  color:#C0392B;
  line-height: 75px;
}
// NAVIGATION BAR
nav p {
  margin: 0;
}
.icon_container {
  margin:0px;
  display:flex;
}

.catchphrase i:hover{
color:white;
}
.title {
  font-family: 'League Script', cursive;
  line-height: 83px;
  margin-left: 8px;
  text-decoration: none;
  color: #C0392B;
  font-size: 50px;
  width:50%;
}
.title:hover {
  color: white;
}
.signout:hover {
  color: #551A8B;
}
.signout i {
  color: #C0392B;
  line-height: 83px;
}
.signout i:hover {
  color: white;
}
.explore {
  font-family: 'Raleway', sans-serif;
}
.icons {
  margin: 0;
  margin:0px;
  width:20%;
}
.icons i {
  color: #C0392B;
  line-height: 60px;
}
.icons i:hover {
  color: white;
}
.explore {
  line-height: 75px;
}
.explore i {
  color: #C0392B;
}
.explore i:hover {
  color: white;
}
// PHOTO FEED
.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
}

.pp {
  border-radius: 50px;
  border: 4px solid white;
  margin: 0px
}

.name {
  color: black;
  font-family: Arial;
  margin-left: 5px;
  margin-bottom: 2px;
}
.city {
  color: black;
  font-family: Arial;
  margin-left: 5px;
  margin-bottom: 2px;
}

.feedpic {
  width:100%; max-width: 350px;
  height:100%;
  max-height: 450px;
  align-self: center;
}
.feedpiccontainer {
  display:flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Raleway', sans-serif;

}

.feedpicfooter {
  display:flex;
  flex-direction: column;
}
.feedpicfooter p{
  margin: 0 3px 5px 0;
}
.buy {
  width:90px;
  height:45px;
  border-radius: 5px;
  border:2px solid #2ECC71;
  font-family: 'Raleway', sans-serif;
  color:#2ECC71;
  text-decoration: none;
}

.feedpicheader {
  margin:0px
}

#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:60px;
   width:100%;
   background-color:#2ECC71;
   display:flex;
   flex-wrap: wrap;
   justify-content: space-around;
}

.edit_container {
  display:flex;
  flex-wrap: wrap;
}

#image-cropper {
  width:100%;
  max-width: 640px;
  font-family: 'Raleway', sans-serif;
}
.imageform {
  width:100%;
  max-width: 640px;
}

#description {
  width:100%;
  max-width: 300px;
  border-radius: 5px;
  color:#95A5A6;
  font-family: 'Raleway', sans-serif;
  height:40px;
  font-size: 20px;
  margin:10px 0 10px 0;
}

#location {
  width:100%;
  max-width: 300px;
  border-radius: 5px;
  color:#95A5A6;
  font-family: 'Raleway', sans-serif;
  height:40px;
  font-size: 20px;
  margin:10px 0 10px 0;
}

#name {
  width:100%;
  max-width: 300px;
  border-radius: 5px;
  color:#95A5A6;
  font-family: 'Raleway', sans-serif;
  height:40px;
  font-size: 20px;
  margin:10px 0 10px 0;
}

#culture {
  width:100%;
  max-width: 300px;
  border-radius: 5px;
  color:#95A5A6;
  font-family: 'Raleway', sans-serif;
  height:40px;
  font-size: 20px;
  margin:10px 0 10px 0;
}

#price {
  width:100%;
  max-width: 300px;
  border-radius: 5px;
  color:#95A5A6;
  font-family: 'Raleway', sans-serif;
  height:40px;
  font-size: 20px;
  margin:10px 0 10px 0;
}

#btn_class {
  width:100%;
  max-width: 300px;
  border-radius: 5px;
  color:#95A5A6;
  font-family: 'Raleway', sans-serif;
  height:40px;
  font-size: 20px;
  margin:10px 0 10px 0;
  background-color: white;
}

.cropit-image-input {
  font-family: 'Raleway', sans-serif;
  width:200px;
}

.rotate-ccw{
background-color: white;
}

.rotate-cw {
  background-color: white;
}

.profilecontainer {
  display:flex;
  flex-direction: column;
}

.profileheader {
  width:100%;
  font-family: 'Raleway', sans-serif;
}

.profilepiccontainer{
display:flex;
flex-wrap:wrap;
}

.profileimages {
  border:2px solid white;
}


.explorepic {
  display:flex;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  width:100%;
  max-width: 240px;
  flex-direction: column;
  border:2px solid white;
}

.explorepic {
text-decoration: none;
}

.explorecontainer {
  display:flex;
  flex-wrap: wrap;
}

table {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

h2 {
  font-family: 'Raleway', sans-serif;
  width:100%;
  font-size: 60px;
}
h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
}

.receiptitems {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

#receipthead {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
}
