@font-face {
  font-family: LeagueScript;
  src: url('LeagueScript.otf');
}
@font-face {
  font-family: Quicksand;
  src: url('Quicksand-Regular.otf');
}
html {
  height: 100%;
}
body {
  height: 100%;
}
#navfeed {
  display: flex;
  background-color: #2ECC71;
  color: white;
  font-size: 40px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.subtitle {
  font-family: Quicksand;
  font-size: 35px;
  color:#C0392B;
  line-height: 75px;
}
// NAVIGATION BAR
nav p {
  margin: 0;
}
.icon_container {
  margin:0px;
  display:flex;
}

.catchphrase i:hover{
color:white;
}
.title {
  font-family: LeagueScript;
  line-height: 83px;
  margin-left: 8px;
  text-decoration: none;
  color: #C0392B;
  font-size: 50px;
  width:50%;
}
.title:hover {
  color: white;
}
.signout:hover {
  color: #551A8B;
}
.signout i {
  color: #C0392B;
  line-height: 83px;
}
.signout i:hover {
  color: white;
}
.explore {
  font-family: Quicksand;
}
.icons {
  margin: 0;
  margin:0px;
  width:20%;
}
.icons i {
  color: #C0392B;
  line-height: 60px;
}
.icons i:hover {
  color: white;
}
.explore {
  line-height: 75px;
}
.explore i {
  color: #C0392B;
}
.explore i:hover {
  color: white;
}
// PHOTO FEED
.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
}

.pp {
  border-radius: 50px;
  border: 4px solid white;
  margin: 0px
}

.name {
  color: black;
  font-family: Arial;
  margin-left: 5px;
  margin-bottom: 2px;
}
.city {
  color: black;
  font-family: Arial;
  margin-left: 5px;
  margin-bottom: 2px;
}

.feedpic {
  width:100%; max-width: 420px;
  height:100%;
  max-height: 500px;
  align-self: center;
}
.feedpic:hover {
  transform: scale(1.1, 1.1);
  opacity: 1;
}
.feedpiccontainer {
  display:flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Quicksand;
}

.feedpicfooter {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.feedpicfooter p{
  margin: 0 3px 5px 0;
  width:100%;
  max-width: 340px;
}
.buy {
  width:90px;
  height:45px;
  border-radius: 5px;
  border:2px solid #2ECC71;
  font-family: Quicksand;
  color:#2ECC71;
  text-decoration: none;
}

.feedpicheader {
  margin:0px
}

#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:60px;
   width:100%;
   background-color:#2ECC71;
   display:flex;
   flex-wrap: wrap;
   justify-content: space-around;
}

.edit_container {
  display:flex;
  flex-wrap: wrap;
}

#image-cropper {
  width:100%;
  max-width: 640px;
  font-family: Quicksand;
}
.imageform {
  width:100%;
  max-width: 640px;
}

#description {
  width:100%;
  max-width: 300px;
  border-radius: 5px;
  color:#95A5A6;
  font-family: Quicksand;
  height:40px;
  font-size: 20px;
  margin:10px 0 10px 0;
}

#location {
  width:100%;
  max-width: 300px;
  border-radius: 5px;
  color:#95A5A6;
  font-family: Quicksand;
  height:40px;
  font-size: 20px;
  margin:10px 0 10px 0;
}

#name {
  width:100%;
  max-width: 300px;
  border-radius: 5px;
  color:#95A5A6;
  font-family: Quicksand;
  height:40px;
  font-size: 20px;
  margin:10px 0 10px 0;
}

#culture {
  width:100%;
  max-width: 300px;
  border-radius: 5px;
  color:#95A5A6;
  font-family: Quicksand;
  height:40px;
  font-size: 20px;
  margin:10px 0 10px 0;
}

#price {
  width:100%;
  max-width: 300px;
  border-radius: 5px;
  color:#95A5A6;
  font-family: Quicksand;
  height:40px;
  font-size: 20px;
  margin:10px 0 10px 0;
}

#btn_class {
  width:100%;
  max-width: 300px;
  border-radius: 5px;
  color:#95A5A6;
  font-family: Quicksand;
  height:40px;
  font-size: 20px;
  margin:10px 0 10px 0;
  background-color: white;
}

.cropit-image-input {
  font-family: Quicksand;
  width:200px;
}

.rotate-ccw{
background-color: white;
}

.rotate-cw {
  background-color: white;
}

.profilecontainer {
  display:flex;
  flex-direction: column;
}

.profileheader {
  width:100%;
  font-family: Quicksand;
}

.profilepiccontainer{
display:flex;
flex-wrap:wrap;
}

.profileimages {
  border:2px solid white;
}


.explorepic {
  display:flex;
  font-family: Quicksand;
  font-size: 30px;
  width:100%;
  max-width: 240px;
  flex-direction: column;
  border:2px solid white;
}

.explorename{
text-decoration: none;
color:black;
}

.explorename:hover {
  color:#E74C3C;
}
.explorecontainer {
  display:flex;
  flex-wrap: wrap;
}

.followbtn {
  text-decoration: none;
  width:120px;
  height:30px;
  background-color:#3498DB;
color:white;
font-size: 18px;
border-radius: 8px;
}

.followbtn:hover {
  color:#3498DB;
  background-color: white;
  border:2px solid #3498DB;
}

.buy:hover {
  background-color:#2ECC71;
  color:white;
}

.pp:hover {
  transform: scale(1.1, 1.1);
  opacity: 1;
}

.signuppage {
  display:flex;
  background-color: #2ECC71;
  flex-direction: column;
  width:100%;
}
