@font-face {
  font-family: LeagueScript;
  src: url('LeagueScript.otf');
}
@font-face {
  font-family: Quicksand;
  src: url('Quicksand-Regular.otf');
}
html {
  height: 100%;
}
body {
  height: 100%;
}
#navfeed {
  display: flex;
  background-color: #1ABC9C;
  color: white;
  font-size: 40px;
  justify-content: space-between;
  flex-wrap: wrap;
}
// NAVIGATION BAR
nav p {
  margin: 0;
}
.icon_container {
  margin:0px;
  display:flex;
}

.catchphrase {
  font-family: Quicksand;
  font-size: 35px;
  color:#C0392B;
  text-decoration: none;
  line-height: 75px;
}
.catchphrase:hover{
color:white;
}
.title {
  font-family: LeagueScript;
  line-height: 83px;
  margin-left: 8px;
  text-decoration: none;
  color: #C0392B;
  font-size: 50px;
}
.title:hover {
  color: white;
}
.signout:hover {
  color: #551A8B;
}
.signout i {
  color: #C0392B;
  line-height: 83px;
}
.signout i:hover {
  color: white;
}
.explore {
  font-family: Quicksand;
}
.icons {
  margin: 0;
  margin:0 15px 0 15px;
}
.icons i {
  color: #C0392B;
}
.icons i:hover {
  color: white;
}
.explore {
  line-height: 75px;
}
.explore i {
  color: #C0392B;
}
.explore i:hover {
  color: white;
}
// PHOTO FEED
.container {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.pp {
  border-radius: 50px;
  border: 4px solid white;
  margin: 0px
}

.name {
  color: black;
  font-family: Arial;
  margin-left: 5px;
  margin-bottom: 2px;
}
.city {
  color: black;
  font-family: Arial;
  margin-left: 5px;
  margin-bottom: 2px;
}

.feedpic {
  width:100%; max-width: 350px;
  height:100%;
  max-height: 450px;
  align-self: center;
  margin-bottom:50px;
  margin-top: 70px;
}

.photoheader {
  display:flex;
}
