@font-face {
  font-family: LeagueScript;
  src: url('LeagueScript.otf');
}

@font-face {
  font-family: Quicksand;
  src: url('Quicksand-Regular.otf');
}

// NAV STYLES
nav {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #2ECC71;
}
.welcome {
  font-family: LeagueScript;
  font-size: 40px;
  color:white;
  margin:10px 0px 0px 15px;
}

.login-container {
  display:flex;
  margin:0px;
  flex-wrap: wrap;
  line-height: 60px;
}
#login {
  margin:0px;
}
body {
  margin:0px;
}
.login-container p {
  margin:0px;
}

#signin {
  border:2px solid white;
  width:125px;
  height:40px;
  color:white;
  font-family:Quicksand;
  border-radius: 5px;
  margin:5px 3px 3px 3px;
  font-size: 20px;
  background-color: #2ECC71;
}

#signin:hover {
  background-color: #E74C3C;
  border:2px solid #E74C3C;
}
#signup {
  border:2px solid white;
  width:125px;
  height:40px;
  color:white;
  font-family:Quicksand;
  border-radius: 5px;
  margin:5px 3px 3px 3px;
  font-size: 20px;
  background-color: #2ECC71;

}

#signup:hover {
  background-color: #E74C3C;
  border:2px solid #E74C3C;
}

// IMAGE STYLES

.image-container {
  display:flex;
  flex-wrap: wrap;
  width:100%;
}

.image {
  width:25%;
  height:50%;
}

// How to section
.how-to {
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: Quicksand;
}
.directions-container {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.heading-title {
  font-size: 70px;
  margin-top:15px;
  margin-bottom: 15px;
}

.subhead {
  font-size: 30px;
}

.directions {
  width:28%;
}
